<div class="savings-calc-container">
    <div class="pentagon">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="dot dot5"></div>
    </div>
    <div class="col-lg-9 col-md-9 calc-comparison-container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4>Pick a credit card</h4>
            </div>  
            <div class="col-lg-6 col-md-6"> 
                <h4>What kind of spending habits do you have?</h4>
            </div>  
        </div>
        <div class="row">
            <div id="chart-container-savings"></div>
        </div>
        <div class="row">
            <div class="chart-info col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div>
                    <span class="circle-chart" style="background-color: #7CB6B7;"></span>
                    <p class="account-detail-chart">Future Savings with Current Interest Rate</p>
                </div>
                <h4 class="account-value-chart" id="savings1-value">$ 10100</h4>
            </div>
            <div class="chart-info col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div>
                    <span class="circle-chart" style="background-color: #FAB131;"></span>
                    <p class="account-detail-chart">Future Savings with New Interest Rate</p>
                </div>
                <h4 class="account-value-chart" id="savings2-value">$ 10511</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7"> 
                <p>Comparison Information</p>
            </div>  
            <div class="col-lg-5 col-md-5"> 
                <p>Referral Button Area</p>
            </div>  
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <!-- Banks List Section -->
        <p>Choose a product to compare</h4>
        <div id="savings-products-list" class="list-group"></div>
    </div>
</div>

<script src="/js/credit-card-calculator.js"></script>
