<div class="credit-card-calc-container">
    <div class="col-lg-9 col-md-9 calc-comparison-container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4>Pick a credit card</h4>
            </div>  
            <div class="col-lg-6 col-md-6"> 
                <h4>Spending Habits</h4>
            </div>  
        </div>
        <div class="row">
            <div id="container-credit-card-calc"></div>
        </div>
        <div class="row">
            <div class="chart-info col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div>
                    <span class="circle-chart" style="background-color: #FAB131;"></span>
                    <p class="account-detail-chart">Total Cash Value of Card</p>
                </div>
                <h4 class="account-value-chart" id="cash-value">$ 0</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7"> 
                <p>Comparison Information</p>
            </div>  
            <div class="col-lg-5 col-md-5"> 
                <p>Referral Button Area</p>
            </div>  
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="container">
            <svg viewBox="-50 -50 300 300" width="180" height="180">
                <polygon points="100,10 190,80 150,180 50,180 10,80"
                         style="fill:#299255;stroke:black;stroke-width:5;" />
                <circle id="grocery_corner" cx="100" cy="10" r="10" fill="black" style="pointer-events: all; padding: 50px;" />
                <circle id="travel_corner" cx="190" cy="80" r="10" fill="black" />
                <circle id="auto_corner" cx="150" cy="180" r="10" fill="black" />
                <circle id="entertainment_corner" cx="50" cy="180" r="10" fill="black" />
                <circle id="other_corner" cx="10" cy="80" r="10" fill="black" />
                <g id="grocery_zone">
                    <polygon points="85,15 115,15 100,45"
                             style="fill:black;stroke:none;stroke-width:0;" />
                </g>
                <g id="travel_zone">
                    <polygon points="175,65 205,65 190,95"
                             style="fill:black;stroke:none;stroke-width:0;" />
                </g>
                <g id="auto_zone">
                    <polygon points="135,165 165,165 150,195"
                             style="fill:black;stroke:none;stroke-width:0;" />
                </g>
                <g id="entertainment_zone">
                    <polygon points="35,165 65,165 50,195"
                             style="fill:black;stroke:none;stroke-width:0;" />
                </g>
                <g id="other_zone">
                    <polygon points="0,65 30,65 15,95"
                             style="fill:black;stroke:none;stroke-width:0;" />
                </g>
                <text x="100" y="-5" text-anchor="middle" font-size="14">Groceries</text>
                <text x="245" y="80" text-anchor="end" font-size="14">Travel</text>
                <text x="150" y="204" text-anchor="middle" font-size="14">Auto &amp; Gas</text>
                <text x="-10" y="204" text-anchor="start" font-size="14">Entertainment</text>
                <text x="-42" y="80" text-anchor="start" font-size="14">Other</text>
            </svg>
        </div>
        <!-- Banks List Section -->
        <div id="credit-card-products-list" class="list-group"></div>
    </div>
</div>

<script src="/js/credit-card-calculator.js"></script>
