<section class="hero-images-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 text-center">
                <h2 class="section-heading">Find your ideal savings account</h2>
                <div class="spacer-small"></div>
                <img class="img-responsive center-block img-rounded" src="/img/savings.png" style="max-width:100%";>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 text-center">
                <h2 class="section-heading">Find your ideal credit card</h2>
                <div class="spacer-small"></div>
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
        </div>
    </div>
</section>
