<header>
    <div class="header-content">
        <div>
            <div class="spacer-big"></div>
            <h1 class="hero-text">Make your money</h1>
            <h1 class="hero-text">work for you.</h1>
            <div class="hero-explain">
                <span>Discover your ideal credit card. Your ideal savings account.</span>
            </div>
            <div class="spacer-small"></div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"> Sign up</a>
        </div>
    </div>
</header>
<!-- colour: cbe4c9 -->