<section class="hero-images-container">
    <div class="container">
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center" style="vertical-align: middle;">
                <div class="spacer-big"></div>
                <h2 class="what-title">Maximize your cash until you need it</h2>
                <p class="what-explain">Savings accounts are a safe place to put money, with interest rates getting better every day we ensure you're always maximizing potential returns.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Maximize cashback, minimize interest payments</h2>
                <p class="what-explain">Using our smart tool, we will look through your last year's purchases to find THE credit card that makes most returns with minimal interest.</p>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Consider it free, accurate, financial advice.</h2>
                <p class="what-explain">Completely Free. Always. You don't pay anything for the service.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
        </div>
    </div>
</section>
