<div class="savings-calc-container">
    <div class="col-lg-9 col-md-9 calc-comparison-container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                Enter your current savings account here: 
                <div class="input-group">
                    <span class="input-group-addon">$</span>	
                    <input id="initial_savings_input" type="text" class="form-control" aria-label="Amount (rounded to the nearest dollar)" placeholder="Current savings">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">%</span>	
                    <input id="interest_rate_input"  type="text" class="form-control" aria-label="Interest Rate" placeholder="1.5">
                </div>
                <button id="calculate-savings" type="button" class="btn btn-primary">Calculate</button>
            </div>  
            <div class="col-lg-6 col-md-6"> 
                <h3>Pick a Bank to Compare with on the right</h3>
            </div>  
        </div>
        <div class="row">
            <div id="chart-container-savings"></div>
        </div>
        <div class="row">
            <div class="chart-info col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div>
                    <span class="circle-chart" style="background-color: #7CB6B7;"></span>
                    <p class="account-detail-chart">Future Savings with Current Interest Rate</p>
                </div>
                <h4 class="account-value-chart" id="savings1-value">$ 10100</h4>
            </div>
            <div class="chart-info col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div>
                    <span class="circle-chart" style="background-color: #FAB131;"></span>
                    <p class="account-detail-chart">Future Savings with New Interest Rate</p>
                </div>
                <h4 class="account-value-chart" id="savings2-value">$ 10511</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7"> 
                <p>Comparison Information</p>
            </div>  
            <div class="col-lg-5 col-md-5"> 
                <p>Referral Button Area</p>
            </div>  
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <!-- Banks List Section -->
        <p>Choose a product to compare</h4>
        <div id="savings-products-list" class="list-group"></div>
    </div>
</div>

<script src="/js/savings-calculator.js"></script>
