<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 inline">
                <h4>Mission</h3>
                <span>Many individuals keep a substantial portion of their assets in savings accounts and utilize credit cards frequently. We are taking steps to ensure that consumers optimize these assets, particularly with the increasing interest rates seen today.</span> 
                <br>
            </div>
            <div class="col-lg-6 text-right inline">
                <h4>Who We Are</h4>
                <span>We are a team of engineers and business professionals who are passionate about optimizing personal finance and delivering direct value to consumers.</span>
                <br>
            </div>
        </div>
    </div>
</section>
