<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 inline">
                <h4>Mission</h3>
                <span>Interest rates are going up, but our savings accounts aren't budging? <br> <br> We're taking action to make sure consumers maximize their savings to work for them.</span> 
                <br>
            </div>
            <div class="col-lg-6 text-right inline">
                <h4>Who We Are</h4>
                <span>A team of engineers and finance people that strongly believe that banks are screwing us and we should screw them back.</span>
                <br>
            </div>
        </div>
    </div>
</section>
