<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Do you have any questions about how we cover your caseload when you take time away? Please reach out! We care deeply about supporting our community of mental health professionals.</p>
                <a href="mailto:{{ site.email }}">
                <p>{{ site.email }}</p>
            </div>
    </div>
</section>
