<header>
    <div class="header-content">
        <div>
            <div class="spacer-big"></div>
            <h1 class="hero-text">Make your money</h1>
            <h1 class="hero-text">work for you.</h1>
            <div class="hero-explain">
                <span>A personalized financial tool that helps you increase your overall cash by maximizing the interest rates you receive in your saving accounts and the total net cash rewards you receive with your credit cards.</span>
            </div>
            <div class="spacer-small"></div>
            <a href="#what" class="btn btn-primary btn-xl page-scroll"> Find out More</a>
        </div>
    </div>
</header>
<!-- colour: cbe4c9 -->