<section id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">1</div>
                    <h3>Share some details about your existing accounts and credit cards</h3>
                    <br/>
                    <p class="text-muted">We'll leverage that information to locate the most suitable products available for you in the market.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">2</div>
                    <h3>We evaluate your current assets both internally and externally, to fine-tune and optimize your holdings.</h3>
                    <br/>
                    <p class="text-muted">We rely on a comprehensive database of consumer financing products, and use advanced AI algorithms and bank account data to tailor our recommendations specifically to your requirements.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">3</div>
                    <h3>Your cash, optimized. No research required.</h3>
                    <br/>
                    <p class="text-muted">We offer free financial advice that helps you make the most of your money.</p>
                </div>
            </div>
        </div>
    </div>
</section>
