<section class="hero-images-container">
    <div class="container">
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center" style="vertical-align: middle;">
                <div class="spacer-big"></div>
                <h2 class="what-title">Optimize Your Savings Accounts</h2>
                <p class="what-explain">Savings are a core part of most people's personal assets. We maximize the cash in these accounts, by finding you the highest interest rate  maximizing the interest rates you can receive in your savings accounts, while maintaining the safety of this type of asset.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Optimize Your Credit Cards</h2>
                <p class="what-explain">We analyze your credit card purchases to find the credit card in the market that maximizes your cashback and rewards, while minimizing your interest payments and annual fees.</p>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Free Financial Advice Tailored to You</h2>
                <p class="what-explain">We offer specific advice and recommendations for you to easily optimize your savings accounts and credit cards through our platform so you never miss an opportunity to make more money.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit.png" style="max-width:100%";>
            </div>
        </div>
    </div>
</section>
