<section class="hero-images-container">
    <div class="container">
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/credit-card-hero.png" style="max-width:100%";>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Find The Best Credit Card For You</h2>
                <p class="what-explain">We examine your credit card spending to discover the best credit card available that can maximize your cashback and rewards. Switching to a new credit card can more than double your annual cash rewards.</p>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center" style="vertical-align: middle;">
                <div class="spacer-big"></div>
                <h2 class="what-title">Maximize The Cash In Your Savings Accounts</h2>
                <p class="what-explain">Our goal is to find you the savings accounts with the highest interest rates, so that you can earn more money on your savings. You can increase your earnings by over $1000 when you have $30000 in your savings and switch accounts.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/savings-hero-2.jpeg" style="max-width:100%";>
            </div>
        </div>
        <div class="row what-row">
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-responsive center-block img-rounded" src="/img/hero-image-explainer.png" style="max-width:100%";>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="spacer-big"></div>
                <h2 class="what-title">Personalized Financial Recommendations</h2>
                <p class="what-explain">Our platform provides personalized recommendations backed up with actual dollar values, making it effortless for you to optimize your savings accounts and credit cards. With our help, you'll never miss out on a chance to increase your earnings.</p>
            </div>
        </div>
    </div>
</section>
